<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
			 http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	<context:component-scan base-package="com.osm.geo.service" />
	<context:component-scan base-package="com.osm.geo.dao" />
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>
	<import resource="classpath:DataSource.xml" />
	<import resource="classpath:Hibernate.xml" />


	<bean id="appParamManager" class="com.osm.geo.service.AppManagerImpl" />

	<bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

	<jaxrs:server id="ManagerREST" address="/OsmGeo">
		<jaxrs:serviceBeans>
			<ref bean="appParamManager" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean='jsonProvider' />
		</jaxrs:providers>
	</jaxrs:server>
</beans>
